######################################################################
# St. Mark’s Eclipse

# ignore compiled binaries
*/bin/*

# ignore metadata
.metadata/*
!.metadata/.plugins
.metadata/.plugins/*

# …but intclude Java Developer Toolkit prefs (i.e. User Libraries, etc.)
!.metadata/.plugins/org.eclipse.core.runtime
.metadata/.plugins/org.eclipse.core.runtime/*
!.metadata/.plugins/org.eclipse.core.runtime/.settings
.metadata/.plugins/org.eclipse.core.runtime/.settings/*
!.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs

# …but include workbench settings
!.metadata/.plugins/org.eclipse.34.workbench

# recommenders
.recommenders

#project-level indexes
*.index

######################################################################
