######################################################################
# Minimal Eclipse Mars JDT
#
# https://gist.github.com/battis/f9adaebfab50c0d5bcb0
#
# Capture projects and user library configuration, but nothing else

# ignore Eclipse metadata
.metadata/*
!.metadata/.plugins
.metadata/.plugins/*

# ...except the workspace resource tree
!.metadata/.plugins/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.history
.markers
state.dat

# ...except working sets
!.metadata/.plugins/org.eclipse.ui.workbench
.metadata/.plugins/org.eclipse.ui.workbench/*
!.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

# ...except JDT prefs (to include User Libraries)
!.metadata/.plugins/org.eclipse.core.runtime
.metadata/.plugins/org.eclisep.core.runtime/*
!.metadata/.plugins/org.eclipse.core.runtime/.settings
.metadata/.plugins/org.eclipse.core.runtime/.settings/*
!.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.pref

# ignore Eclipse Recommenders (http://www.eclipse.org/recommenders/)
.recommenders

# ignore project-level /bin/ directories of compiled bytecode
bin/

######################################################################